* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #030303;
  color: #e6dede;
}
#sidebar {
  width: 28%;
  height: 100%;
  background: linear-gradient(to bottom, #1a6c72, #216caa);
  margin: 0;
}
#container {
  width: 100%;
  height: 100%;
  display: flex;
}
#rightbar {
  flex-grow: 2;
  background-color: #000000;
  border: 1px solid rgba(0, 119, 255, 0.308);
}
#semi-transparent {
  width: 100%;
  height: 20%;
  position: relative;
  top: 24rem;
  background-color: azure;
  opacity: 0.5;
}
