* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #030303;
  color: #e6dede;
}
#sidebar {
  width: 28%;
  height: 100%;
  background: linear-gradient(to bottom, #1a6c72, #216caa);
  margin: 0;
}
#container {
  width: 100%;
  height: 100%;
  display: flex;
}
#rightbar {
  flex-grow: 2;
  background-color: #101c36;
}
#semi-transparent {
  width: 100%;
  height: 40%;
  position: relative;
  top: 32%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6dede;
  border-right: none;
}
form {
  position: relative;
  top: 30%;
  height: 40%;
  background-color: #9eb6ca;
  border: 1px solid rgb(255, 255, 255);
  border-left: 1px solid black;
}
